
.login-container{
    background: #ff3300;
    color: white;
    width: 38rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;

}

.login-container h1{
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
}

.form-md{
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

.form-md input[type="email"],input[type="password"], input[type="text"], input[type="number"],textarea, button{
    width: 100%;
    padding: 0.9rem;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
}

.form-md button{
    background: white;
    color: #ff3300;
    border: none;
    cursor: pointer;
    margin: 2.5rem 0;
}

.form-md button:hover{
    opacity: 0.9;
}

.login-container p{
    text-align: center;
    font-size: 1.1rem;
}

.login-link{
    text-decoration: none;
    color:cornflowerblue;

}

@media only screen and (max-width:600px){
    .login-container{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}