.forgot-password-container{
    width: 38rem;
    background: teal;
    color: azure;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

.forgot-password-container h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.forgot-password-container .forgot-password-message{
    text-align: left;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

.forgot-password-container button {
    color: teal;
}

.forgot-password-container p {
    text-align: center;
    font-size: 1.1rem;
}

@media only screen and (max-width:600px){
    .forgot-password-container{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}

