.reset-container{
    background:#0066cc;
    color: white;
    width: 38rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

.reset-container h1{
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
}

.reset-container button{
    color: #0066cc;

}


@media only screen and (max-width:600px){
    .reset-container{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}